<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>User Login</h2>
  
      
  <form method = 'POST'>
    <input type='text' name ="email">Email</input><br>
    <input type='password' name='pwd'>Password</input><br>
    <button type='submit' class="btn btn-info" href='/index'>Login</button>
  </form>


</div>
</body>
</html>
