<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
      <h2>Welcome!!</h2>
    <p>Already a user? Login here..</p>
    <a class="btn btn-primary" href="/login" role="button">Login</a>
    <p>Register here!! </p>
          <a class="btn btn-primary" href="/register" role="button">Register</a> 
</body>
</html>