<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<form method='POST'>
		{% for i in bookmark %}
		<div class='checkbox'>
			<label class="checkbox-inline"><input type="checkbox" value="{{i['_source'].website_name}}" name="check"><a href='{{i['_source'].website_link}}'>{{i['_source'].website_name}}</a></label>
		</div>	
		{% endfor %}
		<button type='submit' class="btn btn-info" >Export bookmark</button>
	</form>
	<a href='/Download' download=''>Download</a>
</body>	